<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title ">Altas y Bajas</h3>
  </div>
<%= render 'form' %>

<%= link_to 'Back', items_url, class: "btn btn-danger" %>
</div>
