
<% @items = Item.paginate(:page => params[:page]) %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Productos</h3>
    <div class="form-group">
      <div class="navbar"><%= form_tag items_path, :method => 'get', :id => "items_search" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
        </p>

      </div>
    </div>
  </div>

  <div id="items"><%= render 'items' %>
  </div>
         <% end %>
</div>
