
<!-- <% @items = Item.paginate(:page => params[:page]) %> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title center_div">Productos</h2><br>
    <div class="form-inline">
      <div class="center_div"><%= form_tag items_path, :method => 'get', :id => "items_search" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control", style: "width:90%" %>

          <%= submit_tag "Buscar", :name => nil, class: "btn btn-danger" %>
        </p>

      </div>
    </div>
  </div>

  <div id="items"><%= render 'items' %>
  </div>
         <% end %>
</div>
